<header class="top-header">
<button class="menu-btn"
        (click)="toggleSidebar()">
  <span class="material-icons">menu</span>
</button>

  <div class="left-section">
    <h2>IIB Monitoring Portal</h2>
  </div>

  <div class="right-section">

    <div class="search-box">
      <input
        type="text"
        placeholder="Search interfaces..."
      />
    </div>

    <button class="icon-btn">
      <span class="material-icons">notifications</span>
    </button>

    <div class="user-profile">
      <div class="avatar">
        JS
      </div>

      <div class="user-info">
        <div class="name">Surya</div>
        <div class="role">Administrator</div>
      </div>
    </div>

  </div>

</header>